html{font-size:13px;box-sizing:border-box;min-width:320px}
*,*:before,*:after{box-sizing:inherit}
body{margin:0;color:#404040;font-family:Arial, Helvetica, sans-serif;font-size:1rem;line-height:1.5rem;background:#f8f8f8;-webkit-text-size-adjust:100%;-ms-text-size-adjust:none;min-width:320px}
.img, .i{background-image:url(http://img.tfd.com/sprite.png);background-repeat:no-repeat;text-decoration:none;display:inline-block;margin:0;vertical-align:middle;font-size:0;letter-spacing:-1px;text-align:left;text-indent:-9999px;overflow:hidden;color:white}
.i.A{cursor:pointer}
h1{font-size:2.2rem;line-height:2.2rem;display:inline-block;margin:0 10px 0 0}h2{font-size:1.8rem;line-height:1.8rem}h3{font-size:1.3rem;margin:12px 0 6px 0}h4,TH{font-size:1.1rem;margin:6px 0 2px 0}
h5{font-size:1.0rem;display:inline;text-transform:uppercase}
h2:first-child,h3:first-child,h4:first-child{margin-top:0}
img{border-style:none;max-width:100%}
UL{list-style:none;margin:0;padding:0}
a{text-decoration:none;color:#2484c6;-webkit-transition:all 0.2s linear;transition:all 0.2s linear}
a:hover{opacity:.8}
a:active{background-color:transparent}
a:not([href]){cursor:pointer}
a.u{text-decoration:underline}
iframe{background-color:transparent;border:none;padding:0px;margin:0;overflow:hidden}
input[type="search"],
input[type="submit"],
input[type="button"],
input[type="text"],
textarea{-webkit-border-radius:0;-webkit-appearance:none;-moz-appearance:none;width:100%;line-height:14px;padding:7px 10px;border:1px solid #ccc;border-radius:4px;background:#fff;margin:9px 0px;font:100% Arial, Helvetica, sans-serif;vertical-align:middle;color:#000}
textarea{height:auto}
header input[type="radio"],header input[type="checkbox"]{vertical-align:top}
input[type="search"]{-webkit-appearance:none}
input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration{display:none}
input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner{border:0;padding:0}
input[type="button"],input[type="submit"]{width:auto;height:28px;font-size:16px;font-weight:700;line-height:28px;color:#fff;background:#2eb398;border:none;padding:0 15px;-webkit-transition:all 0.25s linear;transition:all 0.25s linear}
input[type="button"]:hover,input[type="submit"]:hover{background-color:#27937d;cursor:pointer}
form,fieldset{margin:0;padding:0;border-style:none}
header,main,footer,section,nav,aside{display:block}
::-webkit-input-placeholder{color:#9e9e9e}
:-moz-placeholder{color:#9e9e9e}
::-moz-placeholder{color:#9e9e9e;opacity:1}
input:-ms-input-placeholder{color:#9e9e9e}
.wrapper{width:100%;position:relative;overflow:hidden}
.w1{width:100%;position:relative;-webkit-transition:all 0.25s linear;transition:all 0.25s linear}
.w2{margin:0 auto;padding:0 20px}

#header{border-bottom:2px solid #5f9eb3;margin:0 -9999px;background:#fff;padding:25px 10040px 0 10095px}
#header:after{content:"";display:block;clear:both}
#nav{font-size:13px;font-weight:700;line-height:16px}
#nav ul{overflow:hidden}
#nav li{float:left;height:43px}
#nav a, #nav div{display:table;height:100%;width:100%;background:#eee;vertical-align:middle}
#nav div, #nav li:not(.available) a{color:#8E8E8E}
#nav .available a{background-color:#fafafa}
#nav .available a:hover,
#nav .active div{background:#5f9eb3;color:#fff;border-radius:4px 4px 0 0;opacity:1}
#nav .cell{display:table-cell;vertical-align:middle;padding:6px 10px 5px 15px}
.header-top{margin:0 0 25px}
.header-top:after{content:"";display:block;clear:both}
.logo-holder{float:left;width:235px;margin:7px -235px 15px 0;position:relative;z-index:2}
.logo{width:231px;height:75px;background-position:0 -196px;margin:0 0 8px}
.logo a{display:block;height:100%}
.logo-holder .note{display:block;font-size:11px;line-height:14px;padding:0 0 0 11%}
.open-close .slide{display:block !important}
.open-close .opener{border:solid #a3a3a3;border-width:1px 0 1px 1px;border-radius:4px 0 0 4px;background:#f1f1f1;padding:7px 6px 6px;text-indent:-9999px;overflow:hidden;display:none;position:relative;z-index:1000;-webkit-transition:none;transition:none;cursor:pointer}
.open-close .opener:hover{opacity:1}
.open-close .opener:hover .icon-search,
.open-close .opener:hover .icon-hamburger{opacity:.8}
.opener .icon-search{display:block;width:22px;height:23px;background-position:-121px -119px;margin:0 0 11px 3px}
.icon-hamburger{display:block;width:30px;height:20px;position:relative}
.icon-hamburger span,.icon-hamburger:before,.icon-hamburger:after{background:#a3a3a3;border-radius:2px;position:absolute;top:8px;left:0;right:0;height:4px;margin-top:-2px;-webkit-transition:all 0.2s linear;transition:all 0.2s linear}
.icon-hamburger:before,.icon-hamburger:after{content:"";top:0}
.icon-hamburger:after{top:16px}
.icon-hamburger:hover{opacity:.9}
.search-form{float:left;width:100%}
.search-form fieldset{margin:0 305px 7px 246px}
.search-form .row{margin:0 0 5px}
.search-form .row:last-child{margin-right:-10%}
.search-form .row:last-child .radio-list{width:116%}
.row:after{content:"";display:block;clear:both}
.radio-list{font-size:13px;line-height:20px;float:left;width:100%}
.search-form .row:first-child .radio-list{padding-right:21px}
.radio-list li{float:left;margin:0 5.6% 5px 0}
.radio-list li:last-child{margin-right:0}
.row .link{float:right;width:19px;height:19px;border:1px solid #ccc;border-radius:2px;padding:1px 2px 0;text-align:center;line-height:1.1583;color:#333;margin:0 0 0 -19px}
.search-form input[type="search"],.search-form input[type="text"]{font-size:14px;height:44px;line-height:18px;margin:0 10px 5px 0;padding:12px 107px 12px 10px;float:left;border-radius:4px}
.keyboard-link{float:left;width:27px;height:15px;background-position:-51px -34px;margin:15px 10px 0 -111px}
.keyboard-link:hover{opacity:.6}
.search-form input[type="submit"]{width:64px;height:44px;text-indent:-9999px;font-size:0;line-height:0;border-radius:0 4px 4px 0;background:#2eb398 url(http://img.tfd.com/sprite.png) no-repeat -160px -100px;padding:0;margin:0 0 0 -74px;float:left}
.search-form input[type="submit"]:hover{background-color:#27937d}
.mobile-visible{display:none}
.header-block{float:right;width:284px;margin:-10px 0 0 -100%;position:relative;-webkit-transition:none;transition:none}
.login-opener{font-size:19px;font-weight:700;line-height:23px;color:#5f9eb3;background:#f8f8f8;border-radius:2px 2px 0 0;display:block;padding:20px 50px;position:relative;margin:0 0 33px;text-align:left;z-index:9;-webkit-transition:none;transition:none;cursor:pointer;white-space: nowrap}
.open-close-active .login-opener{border-radius:4px}


.login-opener:before,body[lang=en] .login-opener:after{content:"";width:28px;height:32px;background:url(http://img.tfd.com/sprite.png) no-repeat -250px -133px;position:absolute;top:16px;left:10px}
body[lang="en"] .login-opener:after{width:39px;height:14px;background-position:-15px -126px;top:50%;right:17px;left:auto;margin:-7px 0 0}


.login-opener.br40:before{background-position:-250px -166px}
.login-opener.br60:before{background-position:-250px -199px}
.login-slide{overflow:hidden;position:absolute;width:284px;height:auto;top:0;-webkit-transition:all 0.25s linear;transition:all 0.25s linear;display:block !important;z-index:-1}
.open-close-active .login-slide{max-height:280px;z-index:99}
.login-slide .login-form{-webkit-transition:all 0.25s linear;transition:all 0.25s linear;-webkit-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%);background:#f5f5f5;border-radius:4px;padding:14px 16px 7px;position:relative}
.open-close-active .login-slide .login-form{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
.login-form .row{margin:10px 0 0 0}
.login-form .row:first-child{margin-top:0}
#loginErr{color:#e76049;padding:2px 0px}
.login-form .column{width:48%;float:right}
.login-form .column:first-child{float:left}
.login-form .column.style01{font-size:11px;line-height:16px;padding:0 5px;margin:-2px 0 0}
.login-form .reg{font-size: 14px;font-weight: bold}
.login-form label{display:block;margin:0 0 2px 4px}
.login-form input[type="text"],.login-form input[type="password"]{width:100%;height:24px;font-size:12px;line-height:14px;border:none;margin:0;padding:5px 0 4px}
.login-form input[type="submit"]{width:100%}
.social-networks{margin:0 0 10px;overflow:hidden;text-align: center;display: inline}
.login-form .social-networks, #wordlist-login .social-networks{margin-bottom:0}
#wordlist-login .social-networks li{margin:0 2px 4px}
.social-networks li{display:inline-block;vertical-align:middle;margin:0 2px 4px 2px}
.social-networks a{width:16px;height:16px;text-indent:9999px;overflow:hidden;display:block;background:url(http://img.tfd.com/sprite.png) no-repeat 0 -319px}
div.gplus{display:inline-block;vertical-align:middle;height:21px}
.social-networks .twitter a{background-position:-85px -319px}
.social-networks .googleplus a{background-position:-34px -319px}
.social-networks .yahoo a{background-position:-102px -319px}
.social-networks .mail a{background-position:-17px -319px}
.social-networks .rss a{background-position:-51px -319px}
.social-networks .mail-us a{background-position:-119px -322px;height:11px}
.social-networks .linkedin a{background-position:-68px -319px}
.column .row{margin-bottom:4px;display:block}
.checkbox-holder label{display:inline-block;vertical-align:middle;max-width:96px;margin:0}
.login-form a{margin:0 0 2px;display:inline-block;vertical-align:top}
.header-bottom{padding:0 30px 0 14px;position:relative}
.header-bottom:after{content:"";display:block;clear:both}
.popup-box{float:right;width:144px;text-align:center}
.popup-box .popup-slide{overflow:hidden;position:absolute;width:144px;top:100%;right:0;z-index:99;max-height:0;-webkit-transition:all 0.25s linear;transition:all 0.25s linear;display:block !important}
.popup-box.open-close-active .popup-slide{max-height:500px}
.popup-slide .popup-holder{-webkit-transition:all 0.25s linear;transition:all 0.25s linear;-webkit-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%);background:#fff;border:1px solid #dadada;padding:8px 4px 7px;position:relative;z-index:2}
.popup-box.open-close-active .popup-holder{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
.popup-box .popup-opener{display:block;text-indent:-9999px;overflow:hidden;width:16px;height:16px;background-position:-22px 0;position:absolute;bottom:11px;right:-2px;cursor:pointer}
.popup-box .text-size,.popup-box .language-block,.popup-box .popup-block{display:inline-block;vertical-align:top;width:100%}
.popup-box .logos-list,.popup-box .links-list{width:auto;display:block}
.popup-box .logos-list li{margin-bottom:12px;vertical-align:top}
.popup-box .popup-opener.style01{margin:0 -5px -8px;width:144px;height:33px;background:#fff;border:1px solid #dadada;position:relative;bottom:0;right:0}
.popup-box .popup-opener.style01:after{content:"";width:39px;height:14px;background:url(http://img.tfd.com/sprite.png) no-repeat -58px -127px;position:absolute;top:50%;left:50%;margin:-7px 0 0 -19px}
.popup-box .text-size li{margin-bottom:1px}
.popup-box .language-block{margin:0 0 11px}
.popup-box .language-block .title{font-size:11px}
.popup-box .popup-block{padding:0 0 10px}
.popup-box .title{display:block;font-size:16px;line-height:20px;margin:0 0 7px}
.popup-box .links-list{font-size:11px;line-height:13px}
.fb-like{vertical-align:top}
.share-block{text-align:center;overflow:hidden}
.share-block .fb-like{margin:0 19px 0 0}
.slide-box{margin:0 -7px;padding:16px 15px 12px;background:#f8f8f8;overflow:hidden;text-align:center}
.header-top .slide-box .download-link{float:none;display:inline-block;padding-left:0;margin:0 0 40px;font-size:18px;line-height:22px;font-weight:700}
.header-top .slide-box .download-link:after{left:50%;top:100%;margin:6px 0 0 -12px}
#wlExcel{width:16px;float:right}
#wlExcel > a > span.img.A{width:16px;height:16px;background-position:-24px -18px}
.slide-block,.w1.menu-active .share-block{padding:18px 11px 3px}
.slide .share-block .fb-like{float:left;width:auto !important}
.slide .share-block .g-plusone{overflow:hidden}
.slide .share-block .twitter{float:right}
.slide .share-block .twitter a{display:block;width:26px;height:23px;background-position:-27px -287px}
.slide-block{overflow:hidden}
.text-size{font:700 22px/1.2 Georgia, "Times New Roman", Times, serif}
.text-size li{display:inline-block;vertical-align:baseline;margin:0 -1px 4px 0}
.slide-block .text-size{float:left;width:30%;min-width:85px;margin:0 10px 0 0}
.text-size .size01{font-size:20px}
.text-size .size02{font-size:18px}
.text-size .size03{font-size:16px}
.language-block .title,.language-block .select-holder{display:inline}
.select-holder img{vertical-align:top}

#main{background:#fff;margin:0 -9999px;padding:23px 9999px 4px;position:relative}
.main-holder{overflow:hidden;padding:0 41px 25px 109px;position:relative;min-height:400px}
#content{float:left;width:100%}
.content-holder{margin:0 332px 0 0}
.content-holder a{font-weight:700}
#content p{margin:0 0 20px}
.block .slide{overflow:hidden;position:relative;top:100%;left:0;right:0;z-index:99;max-height:0;-webkit-transition:all 0.25s linear;transition:all 0.25s linear}
.links-list{line-height:1.1583}
.links-list li{margin:0 0 5px}

.fixed-block{position:absolute;top:24px;width:55px;background:#fff;text-align:center;margin:0 0 0 31px}
.fixed-block .box{border:1px solid #dadada;padding:17px 4px 0;margin:0 0 -1px}
.fixed-block .social-networks{margin-bottom:5px}
.fixed-block .social-networks.style02 li{margin:0 0 27px}
.social-networks.style02 li:last-child{margin-bottom:15px}
.social-networks.style02 .facebook a{width:26px;height:26px;background-position:0 -283px}
.social-networks.style02 .twitter a{width:26px;height:23px;background-position:-27px -287px}
.social-networks.style02 .googleplus a{width:26px;height:26px;background-position:-54px -284px}
.fixed-block .open-box{overflow:hidden;position:relative;z-index:99;max-height:0;display:block !important;-webkit-transition:all 0.25s linear;transition:all 0.25s linear;border:solid #dadada;border-width:0 1px}
.fixed-block.open-close-active .open-box{max-height:500px}
.open-box .holder{-webkit-transition:all 0.25s linear;transition:all 0.25s linear;-webkit-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%);padding:8px 4px 0}
.fixed-block.open-close-active .open-box .holder{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
.fixed-block span.title{font-size:12px;line-height:13px;color:#333;margin-bottom:9px}
.fixed-block strong.title{display:block;font-size:16px;line-height:20px;color:#5f9eb3;margin:2px 0 8px 0}
.fixed-block .social-networks li{margin:0 1px 8px}
.fixed-block .share-block{margin:0 0 15px}
.fixed-block .fb-like,.fixed-block .gplus{display:block;margin:0 auto 4px}
.fixed-block .block-opener{display:block;text-indent:-999px;overflow:hidden;width:55px;height:33px;border:1px solid #dadada;background:#fff;position:relative;cursor:pointer}
.fixed-block .block-opener:after{content:"";width:39px;height:14px;background:url(http://img.tfd.com/sprite.png) no-repeat -15px -126px;position:absolute;top:50%;left:50%;margin:-7px 0 0 -19px}
.fixed-block.open-close-active .block-opener:after{background-position:-58px -127px}

#footer{text-align:center;padding:0 0 5px}
.footer-top{padding:0 0 3px;max-width:960px;margin:0 auto}
.footer-top .heading{margin:0 -9999px 6px;padding:9px 9999px 3px;background:#eee;text-align:center}
.footer-top .heading .title{font-size:25px;line-height:29px;color:#646464;width:auto;margin:0 14px 2px 0}
.footer-top .heading .title,.footer-logo{display:inline-block;vertical-align:middle}
.footer-logo{width:128px;height:42px;background-position:-1px -152px}
.footer-block{margin:0 0 20px;font-size:11px;line-height:15px}

.footer-top .title{color:#646464;font-size:18px;line-height:20px;display:inline-block;vertical-align:middle;width:94px;margin:0 6px 0 0}

.logos-list{display:inline-block;vertical-align:middle;width:481px}
.logos-list li{display:inline-block;vertical-align:middle;margin:0 4px 4px 3px}
.logos-list li a{height:55px}
.logos-list .apple a{width:100px;background-position:-112px -344px}
.logos-list .android a{width:100px;background-position:0 -344px}
.logos-list .kindle a{width:55px;background-position:-367px -344px}
.logos-list .windows a{width:49px;background-position:-229px -344px}
.logos-list .winphone a{width:84px;background-position:-279px -344px}
.footer-block .holder,.list-title,.holder-list .links-list{display:inline-block;vertical-align:middle}
.holder-list{margin:0 0 1px}
.list-title{margin:0 -1px 0 0;line-height:1.1583}
.holder-list .links-list{font-weight:700;margin-bottom:0}
.holder-list .links-list li{display:inline-block;vertical-align:top;margin:0 10px 0 0;position:relative}
.holder-list .links-list li:after,
.footer-nav li:after,
.copyright:after{content:"";width:1px;background:#696969;position:absolute;top:1px;bottom:0;right:-7px}
.holder-list .links-list li:last-child:after,
.footer-nav li:last-child:after{background:none}
.footer-bottom{font-size:11px;line-height:18px;padding:0 13%}
.nav-holder{margin:0 0 17px;font-size:12px;line-height:16px;font-weight:700}
.footer-nav,.copyright{display:inline-block;vertical-align:middle}
.footer-nav li{display:inline-block;vertical-align:top;margin:0 5px 4px 4px;position:relative}
.footer-nav li:after,.copyright:after{right:-6px;top:3px;bottom:2px}
.copyright{color:#2484c6;position:relative;margin:0 5px 4px 8px;font-weight:700}
.copyright:after{right:auto;left:-8px}
.footer-bottom .title{display:block;font-weight:400}
.footer-bottom p{margin:0}
div.sayt{display:none;position:absolute;border:1px solid #8E8E8E;border-top:none;padding:4px;z-index:21;background-color:white}
div.sayt div{padding-bottom:2px;clear:both;cursor:pointer}
div.sayt A, div.sayt A:visited{color:Black;position:relative;text-decoration:none}
[class^="tab"]:before{content:"";background:url(http://img.tfd.com/sprite.png) no-repeat;display:inline-block;width:22px;height:18px;vertical-align:bottom;margin-right:5px}
.tab1:before{background-position:-290px -51px}
.tab2:before{background-position:-336px -51px}
.tab4:before{background-position:-313px -51px}
.tab8:before{background-position:-428px -51px}
.tab16:before{background-position:-451px -51px}
.tab32:before{background-position:-382px -51px}
.tab256:before{background-position:-359px -51px}
.tab1024:before{background-position:-405px -51px}
.tabTFL:before{background-position:-474px -51px}
.delBookmark {font-family:Verdana;color:#C0C0C0;text-decoration:none}
.delBookmark:hover{color:red;font-weight:bold}
a.bookmarkPg{font-weight:normal !important}
.bookmarkPg,.bookmarkPgSel{text-decoration:none;padding:1px 3px}
.bookmarkPgSel{font-weight:bold;border-radius:3px;color:#666;border:solid 1px #666}
.bookmarkPgCont{margin-top:8px}
.bookmarkTd{vertical-align:top;width:50%;padding-left:10px}
[class^="fl_"]:before{content:"";background:url(http://img.tfd.com/sprite.png) no-repeat;display:inline-block;width:16px;height:11px;margin-right:5px;position:relative;top:1px}
.fl_en:before{background-position:-203px -13px}
.fl_es:before{background-position:-203px 0}
.fl_de:before{background-position:-221px 0}
.fl_fr:before{background-position:-239px 0}
.fl_it:before{background-position:-257px 0}
.fl_ar:before{background-position:-239px -13px}
.fl_zh:before{background-position:-275px 0}
.fl_pl:before{background-position:-347px -26px}
.fl_pt:before{background-position:-293px 0}
.fl_nl:before{background-position:-311px 0}
.fl_no:before{background-position:-329px 0}
.fl_el:before{background-position:-347px 0}
.fl_ru:before{background-position:-365px 0}
.fl_tr:before{background-position:-239px -39px}
[class|="i snd-icon"]{cursor:pointer;width:28px;height:18px;vertical-align:text-bottom}
.snd-icon-US{background-position:-146px -319px}.snd-icon-UK{background-position:-174px -319px}.snd-icon-PT{background-position:-202px -319px}.snd-icon-ES{background-position:-230px -319px}.snd-icon-BR{background-position:-258px -319px}.snd-icon-41{background-position:-286px -319px}.snd-icon-plain{background-position:-314px -319px;width:12px}
.snd,.snd2{vertical-align:text-bottom;margin:0 3px 2px 3px;display:inline-block}

@media only screen and (max-width:1165px){
	.radio-list li{margin-right:2.8%}
}
@media only screen and (max-width:1115px){
	.radio-list li{margin-right:5px}
}
@media only screen and (max-width:1024px){
	.w2{padding:0 3px}
	.w1.menu-active{margin:0 88% 0 -88%}
	#header{padding:10px 9999px 0}
	.header-top{margin-bottom:15px}
	.logo-holder{width:135px;margin-right:-150px}
	.logo{width:128px;height:42px;background-position:-1px -152px}
	.logo-holder .note{display:none}
	.search-form fieldset{margin:0 305px 7px 150px}
	.search-form .row{margin-bottom:2px}
	.search-form input[type="search"]{padding:6px 107px 6px 10px;height:32px}
	.keyboard-link{margin-top:8px}
	.search-form input[type="submit"]{height:32px;line-height:32px;background-position:-160px -106px}
	.login-opener{margin-bottom:15px}
	.header-block{margin-top:0}
	.main-holder{padding:0 0 0 84px}
	.fixed-block{margin-left:0}
}
@media only screen and (max-width:880px){
	#nav{text-align:center}
	#nav .cell{padding:6px 5px 5px}
	#bing,label[for="bing"]{display:none}
	.share-block.mobile-hidden{text-align:right}
}
@media only screen and (max-width:760px){
	.w2{padding:0 3px}
	.w1.menu-active{margin:0 88% 0 -88%}
	#header{border-bottom:none;background:#f8f8f8}
	.header-top{margin:0 -4px}
	.open-close{float:right;margin:-6px 0 0}
	.open-close .opener{display:block}
	.open-close .opener:after{content:"";width:2px;background:#f1f1f1;position:absolute;top:0;bottom:0;right:-1px}
	.open-close .slide{background:#f1f1f1;overflow:hidden;position:absolute;top:0;left:100%;bottom:0;width:88%;z-index:99;-webkit-transition:all 0.25s linear;transition:all 0.25s linear;border-left:1px solid #a3a3a3;padding:14px 7px}
	.w1.menu-active .slide{right:0}
	.search-form{float:none}
	.search-form .row{margin-bottom:8px}
	.search-form input[type="search"]{padding:12px 107px 12px 10px;height:44px}
	.search-form input[type="submit"]{height:44px;line-height:44px;background-position:-160px -100px}
	.radio-list{font-size:12px}
	.radio-list li{margin-right:6.4%}
	.mobile-visible{display:block}
	.slide-block{padding:18px 6px 3px}
	.logo-holder{margin:7px 0 0}
	.header-block{float:left;margin:9px 5.2% 0 3.8%;width:87px}
	.login-opener{font-size:12px;line-height:14px;font-weight:400;padding:4px 0 15px 34px;text-align:center;background:none;margin-bottom:0;white-space:normal}
	.slide .search-form fieldset{margin:0 0 7px}
	.mobile-hidden{display:none !important}
	.login-opener:after{background:none !important}
	.login-opener:before{left:0;top:1px}
	.header-block{position:static}
	.login-slide{top:78px;margin:0 0 0 -142px;width:100%;right:0}
	.header-bottom,.fixed-block{display:none}
	.download-link{padding:0 0 0 30px;position:relative;text-align:center;color:#5f9eb3;-webkit-transition:none;transition:none}
	.header-top .download-link{float:left;margin:13px 0 0;line-height:15px}
	.download-link:after{content:"";width:25px;height:34px;background:url(http://img.tfd.com/sprite.png) no-repeat -197px -275px;position:absolute;top:-5px;left:0}
	.main-holder{padding:1px 0 0 0;overflow:visible;min-height:200px}
	.content-holder{margin-right:0}
	.footer-top .title,
	.list-title{margin:0 0 7px}
	.holder-list .links-list li{margin-bottom:7px}
	.footer-bottom{padding:0 15px}
	.nav-holder{margin:0 -19px 17px}
	.copyright{display:block;margin-left:4px}
	.copyright:after{background:none}
	.footer-block,
	.nav-holder{text-align:left}
	.footer-top .title{display:block}
}
@media only screen and (max-width:449px){
	.logo-holder{width:117px} 
	.open-close .opener{padding:7px 2px 6px}
	.radio-list{font-size:11px}
	.radio-list li{margin-right:5px}
	.footer-top .title{width:auto}
}
@media only screen and (max-width:390px){
	.header-block.info-block{width: 200px}
	.login-opener{padding-left:29px;font-size:11px}
	.download-link{font-size:11px}
	.radio-list li{margin-right:0}
}
.print-only{display:none}
@media only print{
	html,body,.wrapper,#w1,.w2,#main{padding:0;margin:0}
	.print-only{display:block}
	header,#fixedBlock,aside,.footer-nav,.ac{display:none}
	body{-webkit-print-color-adjust:exact}
	.main-holder{overflow:visible}
}
.sticky{z-index:99}
body[lang=ar] #footer,body[lang=ar] #MainTxt{direction:rtl}

#content .social-networks a{width:32px;height:32px;background-position:-84px -278px}
#content .social-networks .twitter a{width:35px;height:30px;background-position:-122px -280px}
#content .social-networks,.fb-like-gplus{text-align:left;display:inline-block;vertical-align:middle;margin:0 4px 0 0}
#content .share-block{margin:0 0 10px;text-align:left}
#content .social-networks li{margin:0 2px 4px 0}

#sidebar{float:right;font-size:13px;line-height:19px;width:300px;margin:0 0 0 -100%}
#sidebar a{font-weight:700}
#sidebar .widget,#browsers .block{background:#f8f8f8}

.heading-block{position:relative;padding:13px 30px 14px 0}
.widget .title,.heading-block .title{display:block;color:#646464;font-size:18px;line-height:21px;margin-left:13px}
.heading-block .link{font-weight:400 !important;position:absolute;color:#979898;top:3px;right:8px}						
.widget .social-networks{display:inline-block;vertical-align:middle;text-align:left}
.widget .share-block .social-networks{display:inline}
.widget .social-networks li{margin:0 0 3px}
.widget .share-block{text-align:left}
.widget .share-block .social-networks{margin-bottom:0}
.widget .holder{padding:0 4px 10px 8px;overflow:hidden}
#sidebar #wlExcel{margin-right:10px;}
#sidebar #wlAdd{ margin-left:5px;font-weight:normal}
#wlAdd>.plus{color:#c0c0c0;font-weight:bold}
#sidebar #word_list{margin-top:5px}
#word_list .bookmarkTd>a{font-weight:normal}

a#wlAdd.disabled,a#wlAdd.disabled:hover{ color: #c0c0c0;cursor:default}

.adv_feedback{color:#808080;text-align:center;font-size:11px;white-space:nowrap;line-height:11px}#sidebar .adv_feedback a{font-weight:400}
.feedback{float:right}
.feedback a:before{content:"";display:inline-block;width:17px;height:16px;background:url(http://img.tfd.com/sprite.png) no-repeat 0 -17px;position:relative;top:2px;left:-3px}
/*general framework*/
#browsers{margin:0 -20px 13px 0;line-height:1.3rem}
#browsers li{white-space:nowrap;overflow:hidden}
#browsers ul{padding-right:14px}
#browsers ul:last-child{padding-right:0}
#browsers .block{float:left;width:97%;margin:0 1.6% 25px 0;padding:5px 17px 18px 0}
#browsers .heading-block{margin-bottom:0}
#browsers .heading-block .link{top:13px;right:0}
#browsers .list-holder{padding:0 5px 0 13px;overflow-y:auto}
#browsers li.current{font-weight:700;margin-left:-10px}
#browsers li.current:before{content:'►';font-size:10px;vertical-align:top}

.list-holder{overflow:hidden;margin:0 -15px 0 0}

@media only screen and (min-width:761px){
	#browsers ul{display:inline-block;width:32%}
	#browsers ul:only-child{width:100%}
	#browsers .list-holder.height240{height:240px}
	#browsers .block.width31{width:31.5%}
	#browsers .block.width34{width:34%}
	#browsers .block.width61{width:61.5%}
	#browsers .block.width40{width:40%}
	#browsers .block.width55{width:55.5%}
}

@media only screen and (max-width:760px){
	#sidebar{display:none}
	#browsers{margin:0 0 13px}
	#browsers .block{width:100%}
	#browsers .list-holder{max-height:200px}
}

@media only print{
	#browsers,.brand_copy span:first-child{display:none}
	.main-holder,#content,.content-holder{padding:0;margin:0;width:100%}
}

ul.suggestions{display:inline-block;margin:0;padding:0 20px 0 0;list-style-type:none;vertical-align:top}
ul.suggestions li{white-space:nowrap;margin:0}

.fl_af:before{background-position:-221px -13px}.fl_bg:before{background-position:-275px -13px}.fl_ca:before{background-position:-311px -13px}.fl_tw:before{background-position:-257px -39px}.fl_hr:before{background-position:-437px -13px}.fl_cs:before{background-position:-329px -13px}.fl_da:before{background-position:-364px -13px}.fl_eo:before{background-position:-383px 0}.fl_et:before{background-position:-383px -13px}.fl_fa:before{background-position:-401px 0}.fl_fi:before{background-position:-401px -13px}.fl_he:before{background-position:-419px -13px}.fl_hi:before{background-position:-437px 0}.fl_hu:before{background-position:-455px 0}.fl_is:before{background-position:-473px -13px}.fl_id:before{background-position:-473px 0}.fl_ia:before{background-position:-455px -13px}.fl_ja:before{background-position:-203px -26px}.fl_ko:before{background-position:-221px -26px}.fl_la:before{background-position:-239px -26px}.fl_lv:before{background-position:-275px -26px}.fl_lt:before{background-position:-257px -26px}.fl_ml:before{background-position:-311px -26px}.fl_ro:before{background-position:-365px -26px}.fl_sr:before{background-position:-383px -26px}.fl_sk:before{background-position:-401px -26px}.fl_sl:before{background-position:-419px -26px}.fl_sw:before{background-position:-203px -39px}.fl_sv:before{background-position:-473px -26px}.fl_th:before{background-position:-221px -39px}.fl_uk:before{background-position:-275px -39px}.fl_ur:before{background-position:-293px -39px}.fl_vi:before{background-position:-311px -39px}.fl_ps:before{background-position:-328px -39px}

#MainTxt{margin-top:15px}
#MainTxt section,#MainTxt div,#MainTxt p,pre{overflow-x:auto;overflow-y:hidden}
#MainTxt UL{list-style:initial;padding:0 0 0 1.5em}
#MainTxt p{min-width:200px;margin:10px 0 6px 0}
span.hvr:hover{text-decoration:underline;cursor:pointer;color:#1D4994}
h2{display:inline-block;margin:12px .2rem 6px 0}
#MainTxt section{padding:7px 4px}
#MainTxt section+section{margin-top:20px}
.brand_copy{margin-top:12px;font-size:.85rem}
.pron{cursor:pointer}
#Definition section:nth-child(even),#Thesaurus section:nth-child(even){background:#f8f8f8}
#Definition+#Thesaurus,#Definition+#Translations,#Thesaurus+#Translations{margin-top:40px}
#ThesaurusHead,#TranslationsHead{height:45px;background:#eee;display:block;border:11px #eee solid}
#ThesaurusTitle,#TranslationsTitle{color:#646464;font-size:22px;font-weight:700;line-height:26px;float:left}

#translbody [lang]{display:none}
#translbody [lang] [lang]{display:inline}
.label,#ThesaurusHead .Syn,#ThesaurusHead .Rel,#ThesaurusHead .Ant,#DropDownHolder,#LangDropdownMob{float:right;margin-left:6px;overflow-x:hidden;font-size:13px;line-height:20px;}
#LangDropdownMob{margin-top:-1px}
.label{line-height:24px}

#LangDropdownMob{position:relative;top:4px}
#DropDownHolder{font-size:13px;line-height:19px;width:225px}
#LangDropdown{border:1px solid #646464;overflow-y:auto;position:absolute;height:155px;width:225px;padding:0 3px;background-color:white;z-index:10;margin:27px 0 0 0}
#LangDropdown a{font-weight:400}
#LangDropdown A:hover div{background-color:#f8f8f8}
#selectedLang{display:inline-block;background:white;vertical-align:middle;overflow:hidden}
#selectedLang:before,#selectedLang:after{content:"▼";display:inline-block;padding:2px;color:#646464}
.lcd .i{margin:0 4px 3px 0;display:inline}
#selectedLang div{display:inline-block;width:190px;vertical-align:middle;cursor:s-resize;overflow:hidden}
mark{background-color:transparent;font-weight:bold}
@media only screen and (max-width:850px) and (min-width:760px){
	#DropDownHolder{width:162px}
	#selectedLang .fl_tw,#selectedLang .fl_zh{display:none}
	#selectedLang:before,#selectedLang:after{display:none}
}
#ThesaurusInner .Syn,#ThesaurusInner .Rel,#ThesaurusInner .Ant{MARGIN-TOP:5px;PADDING-LEFT:2px}
.Syn:before{content:'≡';color:#60ff60;font-size:19px;font-weight:700;margin-right:3px}
.Rel:before{content:'↔';color:#8080ff;font-size:19px;font-weight:700;margin-right:3px}
.Ant:before{content:'≠';color:#ff6060;font-size:19px;font-weight:700;margin-right:3px}

.hint{FONT-SIZE:1rem;FONT-WEIGHT:normal;BORDER:1px solid black;PADDING:2px;LEFT:0px;TOP:0px;VISIBILITY:hidden;TEXT-TRANSFORM:none;COLOR:black;TEXT-ALIGN:left;POSITION:absolute;BACKGROUND-COLOR:oldlace;TEXT-DECORATION:none;z-index:999}

.lit_links{font-style:italic;text-align:right;margin-right:15px}
.lit+.lit{margin-top:6px}
.lit .highlight{font-weight:700}

TABLE.prettytable{BORDER:1px solid #aaaaaa;MARGIN:1em 1em 1em 0px;BORDER-COLLAPSE:collapse}
TABLE.prettytable TH,TABLE.prettytable TD{BORDER:1px solid #aaaaaa;PADDING:0.2em;BACKGROUND:#f9f9f9}
TABLE.prettytable TH{BACKGROUND:#f2f2f2}
.hiddenStructure{display:none}

.pic{margin:0 0 4px 8px;BACKGROUND-COLOR:white}
.pic IMG{MARGIN:2px}
.imgcaption{BORDER-TOP:gray 1px solid;FONT-SIZE:0.85rem;MARGIN-LEFT:2px;MARGIN-RIGHT:2px}
.outerpic{BACKGROUND-COLOR:white;clear:both;box-sizing:initial;margin:10px 0}
.flImg{float:right;max-width:250px;font-size:1rem}
.flImg .pic img{margin:0}
DIV.runseg{margin-left:0.5cm;margin-top:3pt}
hr{color:#979898;background-color:#979898;border:none;height:2px}
hr.hmsep{WIDTH:70%;text-align:left;margin:12px auto 16px 0}
.illustration{color:#966A00;FONT-STYLE:italic}
.trans{font-weight:700;color:#5C70D4}
.tright{float:right;clear:right;margin:.5em 0 .8em 1.4em}
@media only screen and (max-width:500px){
	#TranslationsHead .label{display:none}
	#ThesaurusHead .Rel{width:70px}
	.flImg{max-width:165px;padding-left:10px;padding-bottom:10px}
}
@media only screen and (max-width:390px){
	#LangDropdownMob{font-size:12px;margin:0}
	#ThesaurusHead,#TranslationsHead{border-left-width:5px;border-right-width:2px}
	#ThesaurusHead .Rel{display:none}
	#Definition section,#Definition div{overflow:visible}
}

hr.hmshort{WIDTH:25%;HEIGHT:1px;text-align:left;margin:6pt auto 4pt 0}
DIV.def,DIV.ds-single,DIV.ds-list,DIV.notx,DIV.regn,DIV.sndlst,DIV.syntx,DIV.usen,DIV.wrdhst,DIV.sds-single,DIV.sds-list{MARGIN-LEFT:1cm}
@media only screen and (max-width:500px){
	DIV.def,DIV.ds-single,DIV.ds-list,DIV.notx,DIV.regn,DIV.sndlst,DIV.syntx,DIV.usen,DIV.wrdhst,DIV.sds-single,DIV.sds-list{MARGIN-LEFT:0.5cm}
}
DIV.idmseg,DIV.pvseg{MARGIN-LEFT:0cm}
DIV.etyseg{margin-top:6pt;margin-bottom:6pt}
.pronOx,.IPA{font-family:'Arial Unicode MS','Lucida Sans Unicode'}
.noteOx SPAN{background-color:#F7FAFB}