/* Added the blank style to remove the effect of the special character while caching in Foxy cart. Do not delete.   */
@font-face
{
}

@font-face
{
    font-family:Futura-Bold;
    src:url('/css/fonts/Futura/futura-bold-webfont.eot');
    src:url('/css/fonts/Futura/futura-bold-webfont.eot?#iefix') format('embedded-opentype'),url('/css/fonts/Futura/futura-bold-webfont.woff') format('woff'),url('/css/fonts/Futura/futura-bold-webfont.ttf') format('truetype'),url('/css/fonts/Futura/futura-bold-webfont.svg#futurabold') format('svg');
    font-weight:normal;
    font-style:normal;

}

@font-face
{
    font-family:Futura-Book;
    src:url('/css/fonts/Futura/futura-book-webfont.eot');
    src:url('/css/fonts/Futura/futura-book-webfont.eot?#iefix') format('embedded-opentype'),url('/css/fonts/Futura/futura-book-webfont.woff') format('woff'),url('/css/fonts/Futura/futura-book-webfont.ttf') format('truetype'),url('/css/fonts/Futura/futura-book-webfont.svg#futura_bookregular') format('svg');
    font-weight:normal;
    font-style:normal;
}

@font-face
{
    font-family:Futura-ExtraBold;
    src:url('/css/fonts/Futura/futura-extrabold-webfont.eot');
    src:url('/css/fonts/Futura/futura-extrabold-webfont.eot?#iefix') format('embedded-opentype'),url('/css/fonts/Futura/futura-extrabold-webfont.woff') format('woff'),url('/css/fonts/Futura/futura-extrabold-webfont.ttf') format('truetype'),url('/css/fonts/Futura/futura-extrabold-webfont.svg#futura_extrabold') format('svg');
    font-weight:normal;
    font-style:normal;

}

@font-face
{
    font-family:Futura-Heavy;
    src:url('/css/fonts/Futura/futura-heavy-webfont.eot');
    src:url('/css/fonts/Futura/futura-heavy-webfont.eot?#iefix') format('embedded-opentype'),url('/css/fonts/Futura/futura-heavy-webfont.woff') format('woff'),url('/css/fonts/Futura/futura-heavy-webfont.ttf') format('truetype'),url('/css/fonts/Futura/futura-heavy-webfont.svg#futura_heavyregular') format('svg');
    font-weight:normal;
    font-style:normal;

}

@font-face
{
    font-family:Futura-Light;
    src:url('/css/fonts/Futura/futura-light-webfont.eot');
    src:url('/css/fonts/Futura/futura-light-webfont.eot?#iefix') format('embedded-opentype'),url('/css/fonts/Futura/futura-light-webfont.woff') format('woff'),url('/css/fonts/Futura/futura-light-webfont.ttf') format('truetype'),url('/css/fonts/Futura/futura-light-webfont.svg#futura_lightregular') format('svg');
    font-weight:normal;
    font-style:normal;

}

@font-face
{
    font-family:Futura-Medium;
    src:url('/css/fonts/Futura/futura-webfont.eot');
    src:url('/css/fonts/Futura/futura-webfont.eot?#iefix') format('embedded-opentype'),url('/css/fonts/Futura/futura-webfont.woff') format('woff'),url('/css/fonts/Futura/futura-webfont.ttf') format('truetype'),url('/css/fonts/Futura/futura-webfont.svg#futura_mediumregular') format('svg');
    font-weight:normal;
    font-style:normal;
}

.Futura-Bold{font-family:Futura-Bold,Arial,Serif,Sans-Serif;}
.Futura-Book{font-family:Futura-Book,Arial,Serif,Sans-Serif;}
.Futura-ExtraBold{font-family:Futura-ExtraBold,Arial,Serif,Sans-Serif;}
.Futura-Heavy{font-family:Futura-Heavy,Arial,Serif,Sans-Serif;}
.Futura-Light{font-family:Futura-Light,Arial,Serif,Sans-Serif;}
.Futura-Medium{font-family:Futura-Medium,Arial,Serif,Sans-Serif;}