
body {        
	padding-top: 10px;
    padding-bottom: 40px;
}
.First_Name__c {
    width: 94%;
}
.Last_Name__c {
    width: 94%;
}
.SuppliedEmail {
    width: 94%;
}
.Subject {
    width: 94%;
}
.Description {
    width: 94%;
    height: 150px;
}
body,td{
    vertical-align: top;
}
.hero-unit {
    line-height: 20px;
}
.articlelistabstract{
    line-height:20px;
}

.hero-unit {
  padding: 20px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  border: 1px solid #D4D4D4;
  background-color: #F9F9F9;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.hero-unit h1 {
  margin-bottom: 0;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}
.hero-unit li {
    line-height: 20px;
}
.well {
  min-height: 20px;
  padding: 3px;
  margin-bottom: 20px;
  background-color: #F9F9F9;
  border: 1px solid #D4D4D4;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well-large {
  padding: 9px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  width: 90%;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

.apexp .bPageBlock .sfdc_richtext td, .apexp .bPageBlock .sfdc_richtext th, .htmlDetailElementTable .sfdc_richtext td, .htmlDetailElementTable .sfdc_richtext th {
    border-color: #D4D4D4;
    border-style: solid;
	border-width: 1px;
	padding:10px;
}
@media (max-width: 480px) {
.hero-unit {
  padding: 3px;  
}

}