/* Sneaker Hookups Page
----------------------------------------------- */
html.web #Sneaker {background-color:#000 !important; background: url('//images.lids.com/landing/Lids-Hookups-LP.jpg') no-repeat; height:828px; width:930px; display:block; }
