body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.red {
  font-weight: bold;
  color: '#e60000';
}

.green {
  font-weight: bold;
  color: '#5cd65c';
}

.policy {
  white-space: pre-wrap;
}