
@import url(structure.css?v=2.7);
/*@import url(structure-contribute.css);*/
@import url(content.css?v=2.4);
@import url(nav.css);
@import url(tips.css);

/* THESE ARE JUST SOME BASIC STYLES TO NULLIFY EVERYTHING */

body {margin:0; padding:0;}
form {margin:0;	padding:0;}	
/*p {margin:0; padding:0;}*/
ul, ol {margin:0; padding:0;}
li {    margin: 5px 0; padding:0;list-style-position: inside;} 

/*bp i'm changing this from bottom */
img {vertical-align:middle;}
a img {border:none;}

/*table {border-collapse:collapse;}*/